# prerequisites for coursera introduction to machine learning

## Variables and assignments

In [2]:
x = 4
y = 5
z = x + y
print(z)

9

## Python collections 

put multiple data item in the same object

In [7]:
my_list = ['a', 'b', 'c', 'd']
varied_list = ['a', 1, 'b', 3.14159] # list with elements of char, integer, and float types
nested_list = ['hello', 'governor', [1.618, 42]] # list within a list
# get elements
second_element = varied_list[1] # Grab second element of varied_list
print(second_element)
last_element = my_list[-1] # the last element of my_list
print(f"last_element : {last_element}")
last_element_2 = my_list[len(my_list)-1] # also the last element, obtained differently
second_to_last_element = my_list[-2]

1
last_element : d

In [8]:
NFL_list = ["Chargers", "Broncos", "Raiders", "Chiefs", "Panthers", "Falcons", "Cowboys", "Eagles"]
AFC_west_list = NFL_list[:4] 
NFC_south_list = NFL_list[4:6] 
NFC_east_list = NFL_list[6:]

print(f"AFC_west_list: {AFC_west_list}")
print(f"NFC_south_list: {NFC_south_list}")
print(f"NFC_east_list: {NFC_east_list}")

AFC_west_list: ['Chargers', 'Broncos', 'Raiders', 'Chiefs']
NFC_south_list: ['Panthers', 'Falcons']
NFC_east_list: ['Cowboys', 'Eagles']

In [11]:
# tuples

x = 1
y = 2
coordinates = (x, y)
print(f"coordinates: {coordinates}")

year1 = 2011
month1 = "May"
day1 = 18
date1 = (month1, day1, year1)
print(f"date1: {date1}")

year2 = 2017
month2 = "June"
day2 = 13
date2 = (month2, day2, year2)
print(f"date2: {date2}")

coordinates: (1, 2)
date1: ('May', 18, 2011)
date2: ('June', 13, 2017)

In [14]:
# Dictionaries
book_dictionary = {"Title": "Frankenstein", "Author": "Mary Shelley", "Year": 1818}
print(book_dictionary["Author"])

Mary Shelley

# Control flow

In [18]:
# for loops

sum = 0
for i in range(10):
    sum = sum + i
print(sum)
alternative_sum = 0+1+2+3+4+5+6+7+8+9
print(alternative_sum==sum)
#
print("ingredients list")
ingredients = ["flour", "sugar", "eggs", "oil", "baking soda"]
for ingredient in ingredients:
    print(ingredient)

45
True
ingredients list
flour
sugar
eggs
oil
baking soda

In [22]:
# conditionals
for i in range(10):
    if i % 2 == 0: # % -- modulus operator
        print("{} is even".format(i))
    else:
        print("{} is odd".format(i))

# conditionals 2
#
# first if statement could be changed to 
#     if month < 3 or month==12:
# to remove the else statement - last elif would become else

print("In the Northern Hemisphere: \n")
month_integer = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
for month in month_integer:
    if month < 3: 
        print("Month {} is in Winter".format(month))
    elif month < 6:
        print("Month {} is in Spring".format(month))
    elif month < 9:
        print("Month {} is in Summer".format(month))
    elif month < 12:
        print("Month {} is in Fall".format(month))
    else: 
        print("Month {} is in Winter".format(month))

0 is even
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
In the Northern Hemisphere:

Month 1 is in Winter
Month 2 is in Winter
Month 3 is in Spring
Month 4 is in Spring
Month 5 is in Spring
Month 6 is in Summer
Month 7 is in Summer
Month 8 is in Summer
Month 9 is in Fall
Month 10 is in Fall
Month 11 is in Fall
Month 12 is in Winter

In [23]:
# list comprehension
even_list = [2, 4, 6, 8]
odd_list = [even+1 for even in even_list]
print(odd_list)

[3, 5, 7, 9]

# Numpy

In [24]:
import numpy as np 

x = np.array([2, 4, 6]) # create a rank 1 array
A = np.array([[1, 3, 5], [2, 4, 6]]) # create a rank 2 array
B = np.array([[1, 2, 3], [4, 5, 6]])

print("Matrix A: \n")
print(A)

print("\nMatrix B: \n")
print(B)

ModuleNotFoundError: No module named 'numpy'